---
layout: base.njk
---
<style>
  /* Conserve les sauts de ligne des textes sans impacter le reste du site */
  .prose { white-space: pre-line; }
</style>

<article class="prose">
  {{ content | safe }}
</article>
